<div id="ouibounce-modal">
      <div class="underlay"></div>
      <div class="modal">
        <div class="modal-title">
          <h3>Just a second!</h3>
        </div>
        <div class="modal-body">
          <h2>We have a pretty cool deal for you!</h2>
          <p>Close this modal by clicking "No Thanks" below or clicking anywhere outside of the modal.</p>
          <form >
            <input type="email" placeholder="you@email.com">
            <input type="submit" value="learn more &raquo;">
            <p class="form-notice">*this form doesn't work</p>
          </form>
        </div>

        <div class="modal-footer">
          <p>I want to stay here, so close the modal.</p>
        </div>
      </div>
    </div>
